<h1> Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
  1. Python
  2. R
  3. SQL

Some of the commonly used libraries used by Data Scientists include:
  1. TensorFlow
  2. Pandas
  3. Numpy
  4. Matplotlib
  5. SciKit-Learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Spark|
|IBM SPSS|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)
print(a==17)

17
True

In [9]:
# This will convert 200 minutes to hours by diving by 60
b = 200/60
print(b)

3.3333333333333335

<h2>Author</h2>

Sutthida Wongchai